@import '../../../app.component.scss';

.header-container {
    width: 100%;
    background-color: #161b22;
    height: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(22, 27, 34, 0.5);
    backdrop-filter: blur(10px);

    .right-block {

        display: flex;
        width: 20rem;
        justify-content: flex-end;
        padding-right: 0.5rem;

        .username {
            display: flex;
            margin: 0 0.5rem 0 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            user-select: none;
        }

        .profile-controlls {

            &-username {
                margin: 0 0.5rem;
                user-select: none;
                font-weight: 700;
                cursor: pointer;
            }

            .dropdown-toggle {
                &:focus
                {
                    box-shadow: none;
                }
            }

            .dropdown-menu {

                background: rgba(22, 27, 34, 0.5);

                .divider {
                    background: #212121;
                    margin: 0;
                    padding: 0;
                }
                
                
                .dropdown-item {
                    
                    color: white;
                    font-weight: 600;
                    padding: 0.1rem;
                    margin: 0;

                    &:focus-visible,
                    &:active,
                    &:focus-within,
                    &:target,
                    &:hover {
                        background-color: transparent !important;
                        outline: -webkit-focus-ring-color auto 1px;
                    }
                }
            }

            .profile-btn {
                border-radius: 2rem;
                width: 2rem;
                height: 2rem;
                font-weight: bolder;
                font-size: 1.5rem;
                background: rgba(22, 27, 34, 0.5);
                backdrop-filter: blur(10px);
                border-color: #c9d1d9;


                &::after {
                    display: none;
                    visibility: collapse;
                }

                .empty-profile {
                    margin: 0;
                    padding: 0;
                    line-height: 0rem;
                    margin-left: -0.12rem;
                }
            }
        }

    }

    .left-block {

        width: fit-content;
        display: flex;
        width: 20rem;

        .logo {
            display: none;
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 0.5rem;
       }

       .header {
        font-size: 2rem;
        margin: 0;
        line-height: 2.5rem;
       }
    }

    .center-block {
        cursor: pointer;
        display: flex;
        user-select: none;
        align-items: center;
        justify-content: center;

        h3 {
            margin: 0;
            padding: 0;
            color: #232323;

            transition: all 2s;
        
            &:hover {
                color: white    ;
            }
        }

    }
}