.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    height: calc(100vh - 4rem);

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 300px;
        max-width: 600px;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.btn-l {
    margin-left: auto;
}

label {
    color: rgba(255, 255, 255, 0.678);
}

.error {
    padding: 0.2rem 0rem 0;
    font-size: 0.8rem;
    color: #cd4a4a;
    justify-content: flex-start;
    display: flex;
    align-items: flex-end;

    &-main {
        margin-right: 0.5rem;
    }
}

lucide-icon {
    margin-right: 0.2rem;
}

.error-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}