
body {
    background-color: #0d1117
}

p, h1, h2, h3, h4, h5, span {
    color: #c9d1d9;
}

.form-control {
    background: transparent;
    border-color: #232323;
    color: #c9d1d9;

    &:focus-visible,
    &:active,
    &:focus-within,
    &:target,
    &:hover {
        background-color: transparent !important;
        outline: -webkit-focus-ring-color auto 1px;
    }
}


.btn-l {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.123);
    background: none;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.678);
    backdrop-filter: blur(6px);
    transition: all 0.5s;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.164);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.589) !important;
        background-color: rgba(255, 255, 255, 0.164) !important;
    }
}

.input-l {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.123);
    background: none;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.678);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    transition: all 0.5s;
    font-weight: 400;
}

lucide-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}